<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{menu}">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="row g-0">
			<div class="col-5">
				<div class="index-text">
					<h3>Youcode <br> Réservation</h3>
					<p>le seul endroit que donner la possibilité à tous les apprenants de réserver en ligne une place à la fabrique</p>
				</div>
			</div>
			<div class="col-7"><img alt="1" th:src="@{/img/1.png}" class="image-index"></div>
		</div>
	</div>
</body>
</html>