<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{menu}">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="row g-0 mt-5 pl-5">
			<div class="col-6"><img alt="2" th:src="@{/img/2.png}" class="image-index"></div>
			<div class="col-6 pt-5 pl-5">
				<div class="alert alert-danger" role="alert" th:if="${error')}">
					 email ou mot de passe incorrects
				</div>
				<div class="register-show pt-5 pl-5">
					<h2>Inscription</h2>
					<form th:action="@{/inscription}" method="post">
					<input type="text" placeholder="Nom" name="nom" minlength="4" required>
					<input type="text" placeholder="Prenom" name="prenom" minlength="4" required>
						<input type="email" placeholder="Email" name="email" required>
						<input type="password" placeholder="Mot de passe" name="password" minlength="8" required>
						<button type="submit" class="btn btn-primary">Inscription</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>