.navbar-brand img{
	height: 50px;
}
.image-index{
	width: 100%;	
}
.content .row{
	width: 100%;
}
.index-text{
	margin-left: 15%;
	width: auto;
  position: absolute;
	top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.index-text h3{
	font-size: 40px;
	font-weight: 700;
	color: #008FFF;
	margin-bottom: 50px;  
}
.index-text p{
	font-size: 30px;
}
.register-show {
	width: 70%;
}
.register-show input[type="text"], .register-show input[type="email"], .register-show input[type="password"]
	{
	width: 100%;
	display: block;
	margin: 20px 0;
	padding: 15px;
	border: 1px solid #b5b5b5;
	outline: none;
}

.register-show button {
	float: right
}